hr {
  height: 3px;
  background-color: var(--color-blue);
  border: none;
}
.dropdown {
  position: fixed;
  display: flex;
  margin-top: 4rem;
  padding: 3rem 5rem;
  z-index: 3;
  background-color: white;
  font-family: var(--montserrat);
  justify-content: space-between;
}

.dropdown__leftBox {
  position: relative;
  margin-right: 100px;
}
.dropdown__leftBox > ul {
  color: var(--muted-1);
  list-style-type: none;
}
.dropdown__leftBox > ul > li {
  margin-bottom: 10px;
}
.dropdown__leftBox > ul > li > h3 {
  margin-bottom: 15px;
}
.dropdown__rightBox::before {
  content: "";
  position: absolute;
  background-color: var(--muted-2);
  height: 30%;
  width: 1px;
  margin-left: -30px;
}
.dropdown__rightBox {
}
