.form-input{
    width: 92%;
    font-size: 20px;
    padding: 2% 3% 2% 4%;
    margin-top: 7px;
    margin-bottom: 7px;
    color: rgb(59, 58, 58);
    border-radius: 4px;
    border: 1.4px solid rgba(0, 0, 0, 0.103);
    outline: none;
    background-color: white;
    transition: 0.8s ease;
}

.form-input:focus{
    border-color: black;
}

.form-input::placeholder{
    color: rgb(167, 167, 167);
}
.input-label{
    font-size: 20px;
    color: rgb(62, 116, 231);
}