body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 221, 221);
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-blue: #008fdf;
  --color-yellow: #fee500;
  --montserrat: "Montserrat", sans-serif;
  --roboto-slab: "Roboto Slab", serif;
  --raleway:'Raleway', sans-serif;
  --rasa: "Rasa", serif;
  --muted-1: #5a5a5a;
  --muted-2: #a7a7a7;
}


.color-blue {
  color: var(--color-blue);
}
.color-yellow {
  color: var(--color-yellow);
}
